<html>
	<head>
		<title>Pagina de Prueba de rutas</title>
	</head>
	<body>

		<form action="http://10.102.1.22/lider/web/app_dev.php/home/player/save/image/2" method="POST" name="form" enctype='multipart/form-data'> 			
			<!--Seleccion de archivo -->
			<pre>			
			
			Seleccionar archivo: <input name="file" type="file"/>
			
			<input TYPE="SUBMIT" VALUE="Enviar"/>						 	
			</pre>	
		</form>
	</body>
<html>