<html>
	<head>
	</head>
	<body>
		<div style="width:100%; min-height:500px; overflow:hidden;">
			<div style="background-image: url('http://172.99.68.200/image/541af09e6803fa2b158b45c1'); background-repeat: repeat-x; height: 40px;">
				<img style="width: 25px; float: left; margin-top: 2px; margin-left:10px;" src="http://172.99.68.200/image/541af07b6803fa6f158b456b?width=30&height=30"/>
				<h2 style="margin-left:55px; line-height: 30px; color:white;">{{ title }}</h2>
			</div>
			<div style='padding: 0px 15px;'>
				<div>
					<h2>{{ subjectMessage }}</h2>
				</div>
				<div style="margin-top: 10px;">
					{{ body|raw }}
				</div>
				<center style="margin-top: 20px;">
					<a href="http://lider.sifinca.net/liderplayer/#duel-{{ duelId }}"><img style="width: 128px;" src="http://172.99.68.200/image/543d74ce6803fa350970d4c2?width=128&height=128"/><h2>Jugar</h2></a>
				</center>
			</div>
			<div style="margin-top: 40px; background-image: url('http://172.99.68.200/image/541af0c16803fa6c158b4589'); height: 25px; position:absolute; left: 0px; right: 0px; bottom: 35px;">
			</div>
		</div>
	</body>
</html>