<html>
	<head>
	</head>
	<body>
		<div style="width:500px; min-height:500px; overflow:hidden;">
			<div style="background-image: url('http://lider.sifinca.net/lider/src/Lider/Bundle/LiderBundle/Resources/public/images/email-header.png'); text-align:center; height: 40px;">
				<h2 style="margin-left:30px; color:white;">{{ title }}</h2>
			</div>
			<div>
				<p>{{ body }}</p>
			</div>
			<div style="margin-bottom:5px; background-image: url('http://lider.sifinca.net/lider/src/Lider/Bundle/LiderBundle/Resources/public/images/email-footer.png'); height: 25px;">
			</div>
		</div>
	</body>
</html>