<html>
	<head>
	</head>
	<body>
		<div style="width:500px; min-height:500px; overflow:hidden;">
			<div style="background-image: url('http://172.99.68.200/image/541af09e6803fa2b158b45c1'); background-repeat: repeat-x; height: 40px;">
				<img style="width: 25px; float: left; margin-top: 2px; margin-left:10px;" src="http://172.99.68.200/image/541af07b6803fa6f158b456b?width=30&height=30"/>
			</div>
			<div style='padding: 0px 15px;'>
				<div style="text-align: center;">
					{% if teamImage is defined %}
						<img style="width: 50px; margin-top:15px;" src='http://lider.sifinca.net/web/app.php/image/{{ teamImage }}' />
					{% endif %}
					<h2>{{ title }}</h2>
				</div>
				<div style="margin-top: 10px;">
					<ul style="list-style: none;">
						{% for member in members %}
							<li>
								<img style="width: 30px" src='http://lider.sifinca.net/web/app.php/image/{{ member.image }}'/>
								<span style="margin-left: 10px;">{{ member.name }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div style="margin-top: 40px; background-image: url('http://172.99.68.200/image/541af0c16803fa6c158b4589'); height: 25px; position:absolute; left: 0px; right: 0px; bottom: 35px;">
			</div>
		</div>
	</body>
</html>