.header{
	background-color: #174159;
}

.header .ays-header{
	margin-top: 2px;
	margin-left: 4px;
}

.header .btn-options{
	float: right;
	margin-top: 9px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	background-color: #CCCCCC;
}

.navbar{
	background-color: #F3F3F3;
}

.navbar .btn-nav{
	height: 30px;
	width: 30px;
	border-radius: 100%
}

.navbar .li-win{
	float: left;
	margin-left: 10px;
}

.navbar .li-loose{
	padding: 1em 3em;
 	margin: 1em 25%;
}

.navbar .li-notify{
	float: right;
}