.header{
	background-color: #174159;
}

.header .logo-ays{
	margin-top: 4px;
}

.header .btn-more-apps{
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}

.header .btn-more-apps .icon-more-apps{
	float: right;
}