parameters:
    database_driver: pdo_pgsql
    database_host: 10.102.1.21
    database_port: 5432
    database_name: lider
    database_user: postgres
    database_password: postgres
    mailer_transport: smtp
    mailer_host: smtp.sendgrid.net
    mailer_user: araujoysegovia
    mailer_password: araujo123
    locale: es
    secret: ThisTokenIsNotSoSecretChangeIt
    debug_toolbar: false
    debug_redirects: false
    use_assetic_controller: true
    mongo_host: 10.102.1.21
    mongo_port: 27017
    gearman_host: 10.102.1.21
    gearman_port: 4730
    mongo_config: 'admin:ZBRJTuFjZyLX@104.130.28.12:27017'