.body{
	position:absolute;
	width: 100%;
	height: 100%;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #EAF0F6),
		color-stop(1, #DFEDFC)
	);
	background-image: -o-linear-gradient(bottom, #DFEDFC 0%, #EAF0F6 100%);
	background-image: -moz-linear-gradient(bottom, #DFEDFC 0%, #EAF0F6 100%);
	background-image: -webkit-linear-gradient(bottom, #DFEDFC 0%, #EAF0F6 100%);
	background-image: -ms-linear-gradient(bottom, #DFEDFC 0%, #EAF0F6 100%);
	background-image: linear-gradient(to bottom, #DFEDFC 0%, #EAF0F6 100%);
}

.login{
	border: solid 1px #EEE;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	width: 450px;
	height: 410px;
	border-radius: 8px;
	left: 50%;
	top: 50%;
	margin-top: -205px;
	margin-left: -225px;
	text-align: center;	
	padding: 15px;
	padding-top: 45px;	
}
.login > .logo {
	margin-top: 30px;
}

.login > .login-form{
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.login-form > form > div > input {
	text-align: center;
}

.login-form > form > button.btn-ingresar{
	float: right;
	color: #000;
	height: 32px;
	margin-top: 0px;
	padding-top: 5px;
	width: 150px;
	font-weight: bold;
	font-size: 12px;
	border: none;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFD65),
	color-stop(1, #FBB23C)
    );
	background-image: -o-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: -moz-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: -ms-linear-gradient(bottom, #FFFD65 0%, #FBB23C 100%);
	background-image: linear-gradient(to bottom, #FFFD65 0%, #FBB23C 100%);
}

.login-form > form > span#signinButton{
/* 	position: absolute;
	top: 85%;
	left: 150px; */
	float: left;
}

